.front img{
    max-width: 100%;
}
.front{
    position: relative;
    text-align: center;
    color: white;
}
.front_middle{
    position:absolute;
    top:15px;
}
.front_center{
    position:absolute;
    top:150px;
    left:120px;
}
.back{
    text-align: center;
}
.back input,label{
    color: white!important;
}
section{
    background-image: url(https://wallpapersite.com/images/wallpapers/cute-kittens-4288x2848-cats-hd-4k-3908.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    opacity: 0.7;
    
}
#form_s_show{
    padding: 5%;
    margin:5% 0;
}
@media screen and (min-width:900px){
.back{
    background:white;
    width: 50%;
    height: 35vh;
}
.back form{
    margin-top: 5%;
}
.back input,label{
    color:black!important;
}
section{
    opacity: 1;
}
}